@model Company.Models.Slider

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Slider</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SliderTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SliderTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SliderImg)
        </dt>
        <dd class = "col-sm-10">
            <img class="border rounded-circle p-2 mx-auto mb-3" src="data:image;base64,@Convert.ToBase64String(Model.SliderImg)" style="width: 80px; height: 80px;">
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SliderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
